<h1>Surgeries</h1>
<% @surgeries.each do |surgery| %>
  <section id="surgery-section-<%= surgery.id %>">
  <h2><%= surgery.title %></h2>
  <ul>
  <% surgery.doctors.each do |doctor| %>
    <li><%= doctor.name %></li>
  <% end %>
  </ul>
  </section>
<% end %>